body
    {
     background-image: url('shapy.jpg');
     text-decoration-style: solid;
     background-repeat: no-repeat;
    }

    img{
        image-resolution:500px;
        width: 20%;
        height: 20%;
        border-radius:25px;
    }

    h5
    {
    font-style: italic;
    }